.aboutus {
  /* display: flex; */
  align-content: center;
  justify-content: center;
}

.aboutus h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 5vh;
}

.aboutus p {
  text-align: center;
  margin: 0;
}
