.aboutus {
  /* display: flex; */
  align-content: center;
  justify-content: center;
}

.aboutus h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 5vh;
}

.aboutus p {
  text-align: center;
  margin: 0;
}

.intro,
.peep,
.egg {
  padding: 10vh 5vw 15vh;
}

.intro {
  background-color: rgba(255, 255, 255, 0.75);
  color: black;
}

.peep {
  background-color: rgba(50, 66, 76, 0.5);
  color: white;
}

.egg {
  background-color: rgba(255, 255, 255, 0.75);
  color: black;
}
