.data-wrapper {
  display: flex;
  color: black;
  height: 100%;
  width: 100%;
}

.data-wrapper h1 {
  text-align: center;
}

.chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.temp-humidity,
.pressure {
  width: 50%;
  margin: auto;
  margin-top: 5%;
}

.pressure {
  margin-bottom: 10%;
}
