.wrapper-bottom {
  position: relative;
  background-color: rgba(50, 66, 76, 0.8);
  text-align: center;
  padding: 2em;
}

.wrapper-bottom > img {
  padding: 5px;
  height: 5px;
  margin-top: auto;
}

.wrapper-bottom h1 {
  font-size: 1em;
}

.inner-bottom {
  display: flex;
  margin: 0 auto;
  padding: 1em;
}
.social-container {
  width: 50%;
}
.name {
  float: left;
}

.email {
  float: right;
}

textarea {
  width: 100%;
}
