.wrapper-bottom {
  position: relative;
  background-color: rgba(50, 66, 76, 1);
  padding: 2em;
}

.wrapper-bottom > img {
  padding: 5px;
  height: 5px;
  margin-top: auto;
}

.wrapper-bottom h1 {
  font-size: 1.25em;
  text-align: center;
  color: #c85a47;
  margin-bottom: 0.4em;
}

.wrapper-bottom p {
  text-align: center;
  color: #c85a47;
  font-size: 0.8em;
}

.inner-bottom {
  display: flex;
  padding: 1em;
}

.social-container {
  display: flex;
  margin: 0 auto;
}

.social-container a {
  color: rgb(223, 162, 105, 0.5);
  margin-right: 0.2em;
  font-size: 1.25em;
}

#last-icon {
  margin-right: 0;
}

.subscribe-container,
.form-container {
  margin: 0 auto;
}

.name {
  float: left;
  padding: 0 0.3em 0 0;
}

.email {
  float: right;
  padding: 0 0 0 0.3em;
}

input,
textarea {
  background: rgb(145, 195, 190, 0.5);
  /* #34363b; */
  color: black;
  border: 0;
  outline: 0;
  padding: 0 1em;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0.8em;
}

input {
  height: 2.75em;
}

textarea {
  width: 100%;
  padding: 0.75em 1em;
  margin-bottom: 0.4em;
}

button {
  background: rgba(223, 162, 105, 0.5);
  color: #fff;
  position: relative;
  padding: 0 2em;
  border: none;
  font-size: 0.75em;
  height: 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}

::placeholder {
  color: black;
  opacity: 1;
}

.subfooter {
  width: 100%;
  padding: 0.75em;
  border-top: 1px solid rgb(255, 255, 255, 0.1);
  background-color: rgba(50, 66, 76, 1);
}

.subfooter p {
  text-align: center;
  color: #c85a47;
  font-size: 0.8em;
}

@media only screen and (max-width: 600px) {
  .inner-bottom {
    flex-direction: column;
  }

  .subscribe-container,
  .form-container {
    width: 80%;
  }

  .name,
  .email {
    float: none;
    padding: 0;
  }

  .button {
    text-align: center;
  }

  .subfooter p {
    font-size: 0.6em;
  }
}
