.wrapper-bottom {
  position: absolute;
  height: 2vh;
  padding: 1em;
  background-color: rgba(223, 162, 105, 0.8);
  text-align: center;
}

.wrapper-bottom > img {
  width: 10%;
  height: auto;
  margin: auto;
}
