.kickstarter {
  height: 30%;
  background-color: rgba(50, 66, 76, 0.8);
  color: white;
  text-align: center;
  font-family: "Oswald", "sans-sarif";
  padding-top: 15vh;
  padding-bottom: 5vh;
}

.kickstarter h1 {
  margin: 0;
  font-size: 4vw;
  letter-spacing: 0.25vw;
}

.kickstarter span {
  font-size: 4vw;
  color: #c85a47;
}
