.kickstarter {
  background-color: rgba(50, 66, 76, 0.8);
  color: white;
  text-align: center;
  font-family: "Oswald", "sans-sarif";
  padding-top: 20vh;
  padding-bottom: 5vh;
}

.kickstarter h1 {
  margin: 0;
  font-size: 3.5em;
  letter-spacing: 0.25vw;
}
.kickstarter > span {
  color: #c85a47;
  font-size: 2em;
}
.clock {
  display: flex;
  justify-content: center;
}

.days,
.hours,
.mins,
.secs {
  padding: 0 10px;
  color: #c85a47;
  font-size: 2em;
}

.clock span {
  color: white;
  font-size: 1em;
}

@media only screen and (max-width: 1080px) {
  .kickstarter h1 {
    font-size: 2em;
  }

  .days,
  .hours,
  .mins,
  .secs {
    font-size: 1.55em;
  }
}

@media only screen and (max-width: 600px) {
  .kickstarter {
    padding-top: 5em;
  }

  .kickstarter h1 {
    font-size: 1.5em;
  }

  .days,
  .hours,
  .mins,
  .secs {
    font-size: 1.15em;
  }
}
