img {
  width: 20vw;
  max-width: 260px;
  padding: 0.5em;
}

.wrapper {
  position: fixed;
  display: flex;
  top: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 40px;
  background: rgb(223, 162, 105);
  z-index: 100;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 5px 5px;
  margin: 0;
}

.countdown {
  display: flex;
  width: 10%;
  align-content: center;
  justify-content: center;
}

.links-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.85em;
  width: 100%;
}

.links-container > a {
  position: relative;
  text-decoration: none;
  color: #32424c;
}

.links-container > a:hover,
.links-container > a:focus {
  color: #c85a47;
}
