.story-wrapper {
  /* background-color: rgba(255, 255, 255, 0.5);
  background-repeat: no-repeat;
  background-size: 150% 150%;
  background-attachment: fixed; */
  padding: 0;
}

.story h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 5vh;
}

.story p {
  text-align: center;
  margin: 0;
}
