.team-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url(../images/chicken-feathers3.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  padding: 0;
}

.our-team h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 5vh;
}

.team p {
  text-align: center;
  margin: 0;
}

.team-wrapper > img {
  height: 10%;
}

.our-team {
  padding: 10vh 5vw 15vh;
  text-align: center;
}
.ceo {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgba(50, 66, 76, 0.5);
  color: white;
}

.ceo h1 {
  margin-bottom: 0;
}

.ceo-image {
  margin: auto;
  margin-right: 12.5% !important;
}

.ceo-image > img {
  width: 175%;
  border-radius: 100%;
}
.ceo-bio,
.ceo-2-bio {
  text-align: center;
  width: 60%;
  padding: 3.5%;
}

.ceo-2 {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 30%;
}

.ceo-2-image {
  margin: auto;
  margin-left: 5%;
}
.ceo-2-image > img {
  width: 70%;
  border-radius: 100%;
}
