.team-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url(../images/chicken-feathers3.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  padding: 0;
}

.team h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 5vh;
}

.team p {
  text-align: center;
  margin: 0;
}

.team-wrapper > img {
  height: 10%;
}

.ceo {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 30%;
  padding: 10vh 5vw 10vh;
  background-color: rgba(50, 66, 76, 0.5);
  color: white;
}

.ceo-image {
  display: flex;
  align-content: center;
  width: 30%;
}

.ceo-image > img {
  width: 100%;
  height: auto;
}
.ceo-bio {
  width: 60%;
}
