.container {
  height: 100vh;
  width: 100%;
  background-image: url("images/chicken-feathers.jpg");
  background-size: 200%;
  background-repeat: no-repeat;
}

.inner-container {
  padding: 2vw 5vh;
}
